{% extends 'parent.html.twig' %}

{% block team %}

        {{ dump(equipe) }}
<ul>
    {% for joueur in equipe %}
        <li><a href="{{ url('team.details', { 'prenom' : joueur.prenom, 'nom' :  joueur.nom }) }}">{{ joueur.nom ~ ' ' ~ joueur.prenom }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
